<!-- about.ejs - Joshua Eagles - 301078033 - 2020-10-07 -->

<h1 class="text-center text-lg-left">Joshua Thomas Eagles</h1>

<br>
<!-- The class here makes it float right when the screen size is large, and otherwise center the image. -->
<img class="d-block float-lg-right mx-auto ml-lg-5" src="assets/picture.jpg" alt="Picture of Joshua Eagles" width=209 height=200/>
<br> 

<h2>Who am I?</h2>
<p>
	Hi there, my name is Joshua Eagles. I'm a software developer currently attending Centennial College. 
	I have skills in a wide variety of programming languages and technologies, such as C#, Python, and JavaScript. 
	In the past I have also worked on several game development projects as a hobby, 
	and have gained lots of programming experience from those endeavors.
</p>

<br>
<a class="d-block text-center" href="assets/resume.pdf" download>Resume</a>
