<!-- home.ejs - Joshua Eagles - 301078033 - 2020-10-07 -->

<div class="row">
	<!-- Welcome and Navigation Guide -->
	<div class="col-sm">
		<h2 class="text-center text-md-left">Welcome to Joshua Eagles' Portfolio</h2>
		<ul>
			<li>For more information on who I am, go to the <a href="about">About Me</a> page.</li>
			<li>The <a href="projects">Projects</a> page showcases some of my previous work.</li>
			<li><a href="services">Services</a> has a brief list of the serices I offer.<br></li>
			<li>Use the <a href="contact">Contact Me</a> page to get in touch with me.</li>
		</ul>
	</div>

	<!-- Mission Statement -->
	<div class="col-sm">
		<h2 class="text-center text-md-left">Mission Statement</h2>
		<p>To develop elegant pieces of software.</p>
	</div>
</div>
