<!-- login.ejs - Joshua Eagles - 301078033 - 2020-10-22 -->

<div class="col-6 mx-auto">
	<form action="login_submit" method="get" accept-charset="utf-8">
		<!-- Username Input and Label -->
		<div class="row">
			<div class="col-4-md mx-auto">
				<label for="username">Username</label><br>
			</div>
			<div class="col-md">
				<input class="w-100" type="text" name="username" value="" id="username">	
			</div>
		</div><br>

		<!-- Password Input and Label -->
		<div class="row">
			<div class="col-4-md mx-auto">
				<label for="password">Password</label>
			</div>
			<div class="col-md">
				<input class="w-100" type="password" name="password" value="" id="password">
			</div>
		</div><br>

		<!-- Login Button -->
		<input class="w-100" type="submit" value="Login" name="loginButton" id="loginButton"/>
	</form>
</div>
