<!-- projects.ejs - Joshua Eagles - 301078033 - 2020-10-07 -->

<!-- The setup in this page is done so the image and description will be on alternating sides. 
	 To achieve this and maintain responsiveness, the order of the two elements in Project 2 
	 have to be switched when switching to the mobile layout. -->

<!-- Project 1: Pygame Tetris -->
<div class="row jumbotron mb-5">
	<div class="col-md">
		<img class="w-100 h-100" src="assets/project_screenshots/pygame-tetris.png" alt="Screenshot of Tetris Clone"/>
	</div>	

	<div class="col-md">
		<h3>Tetris Clone</h3>
		<p>A tetris clone written in Python with the Pygame framework. Includes all the basic features of Tetris, such as line clears, piece rotation, and a preview of the next piece.
		It was created to further my understanding of Python as well as to learn the Pygame framework.</p>
		<a href="https://github.com/JoshuaEagles/Simple-Pygame-Tetris">Link to the GitHub Repository</a>
	</div>	
</div>

<!-- Project 2: Godot Tower Defense Game -->
<div class="row jumbotron mb-5">
	<div class="col-md order-2 order-md-1">
		<h3>Tower Defense Game</h3>
		<p>A small Tower Defense game made in Godot and programmed in C#. It was worked on by me and a couple others, and was developed as an entry for Global Game Jam 2020, 
		where you have 48 hours to make a game. While we ended up running out of time, working on this project was still a great learning experience, especially considering 
		the tight deadline.</p>
		<a href="https://github.com/JoshuaEagles/TowerDefenseGame">Link to the GitHub Repository</a>
	</div>	

	<div class="col-md order-1 order-md-2">
		<img class="w-100 h-100" src="assets/project_screenshots/godot-towerdefense.png" alt="Screenshot of Tower Defense Game"/>
	</div>	
</div>

<!-- Project 3: C# GUI -->
<div class="row jumbotron mb-5">
	<div class="col-md">
		<img class="w-100 h-100" src="assets/project_screenshots/gui-musiclibrary.png" alt="Screenshot of the Music Library GUI"/>
	</div>

	<div class="col-md">
		<h3>Music Library</h3>
		<p>Used as my submission for Assignment5 of COMP123. It's a full Windows Forms GUI programmed in C# and designed in Visual Studio. I worked on this project for several hours, 
		and the resulting mark reflected this.</p>
	</div>
</div>
