<!-- services.ejs - Joshua Eagles - 301078033 - 2020-10-07 -->

<!-- Programming Languages -->
<div class="row jumbotron">
	<div class="col-8">
		<p>Programming in a variety of programming languages, including:</p>
		<ul>
			<li>C#</li>
			<li>Java</li>
			<li>Python</li>
			<li>JavaScript</li>
			<li>C++</li>
			<li>Lua</li>
		</ul>
	</div>

	<div class="col-md-4">
		<!-- Creates a grid layout for the Logos that collapses into one row for small device sizes -->
		<div class="row">
			<div class="col">
				<img class="w-100 h-100" src="assets/logos/cs.png" alt="C# Logo"/>
			</div>
			<div class="col">
				<img class="w-100 h-100" src="assets/logos/java.png" alt="Java Logo"/>
			</div>

			<!-- Cause a break in the column when at md breakpoint and above -->
			<div class="w-100 d-none d-md-block"></div>

			<div class="col">
				<img class="w-100 h-100" src="assets/logos/python.png" alt="Python Logo"/>
			</div>
			<div class="col">
				<img class="w-100 h-100" src="assets/logos/javascript.png" alt="JavaScript Logo"/>
			</div>
		</div>
	</div>
</div>

<!-- Technologies -->
<div class="row jumbotron">
	<div class="col-md-8">
		<p>Development using several different technologies, such as:</p>
		<ul>
			<li>Node.js</li>
			<li>Express</li>
			<li>Bootstrap</li>
			<li>Git</li>
			<li>Windows Forms</li>
			<li>Pygame</li>
			<li>Godot Engine</li>
		</ul>
	</div>

	<div class="col-md-4">
		<!-- Creates a grid layout for the Logos that collapses into one row for small device sizes -->
		<div class="row">
			<div class="col">
				<img class="w-100 h-100" src="assets/logos/node.png" alt="Node.js Logo"/>
			</div>
			<div class="col">
				<img class="w-100 h-100" src="assets/logos/express.png" alt="Express Logo"/>
			</div>

			<!-- Cause a break in the column when at md breakpoint and above -->
			<div class="w-100 d-none d-md-block"></div>

			<div class="col">
				<img class="w-100 h-100" src="assets/logos/git.png" alt="Git Logo"/>
			</div>
			<div class="col">
				<img class="w-100 h-100" src="assets/logos/godot.png" alt="Godot Engine Logo"/>
			</div>
		</div>
	</div>
</div>
